
/* Container do carrossel */
.carrosel {
    width: 300px;
    max-width: 900px;
    height: 300px;
    margin: 40px auto;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
    position: relative;
}

/* Slides */
.slides {
    display: flex;
    width: 300px;
    animation: slide 12s infinite;
}

/* Imagens */
.slides img {
   width: 300px;
    height: 300px;
    object-fit: cover;
    flex: 1;
}

/* Animação automática */
@keyframes slide {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-100%);
    }

    58% {
        transform: translateX(-100%);
    }

    66% {
        transform: translateX(-200%);
    }

    91% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
    }
}